@using MVC_Vue.Controllers
@using MVC_Vue.Databases
@model IEnumerable<Category>

<div class="modern-container">
    @foreach (var category in Model)
    {
        <div class="section-title">@category.Name</div>
       <v-row>
        @foreach (var item in category.Products)
        {
             <v-col cols="12" xs="6" sm="6" md="6" lg="4">
                <v-card class="mx-auto" max-width="344" 
                    href="/Product?id=@item.Id" key="@item.Id"
                    flat>
                    @if(item.Discount > 0)
                    {
                        <div class="discount-badge">-@item.Discount%</div>
                    }
                    <img
                        src="@item.Images.First().Url"
                        height="500px"
                        cover
                    ></img>
                    <v-card-title class="text-h6">@item.Name</v-card-title>
                    <v-card-subtitle>
                        <div>
                            @if(item.Discount > 0) {
                                <span class="sale-off-price">
                                    @item.Price.ToString("N0")<span>đ</span>
                                </span>
                            }
                            <span class="main-price">
                                @item.Price.ToString("N0")<span>đ</span>
                            </span>
                        </div>
                    </v-card-subtitle>
                <v-card-actions>
                    <v-btn
                        color="#13547A"
                        variant="text"
                        href="/Product?id=@item.Id"
                    >
                        Chi tiết
                    </v-btn>
                    <v-spacer></v-spacer>
                    <v-btn
                        variant="outlined"
                        class="btn-main"
                        v-on:click="addToCart(@item)"
                    >
                        Mua
                    </v-btn>
                    </v-card-actions>
                </v-card>
            </v-col>
        }
    </v-row>
    }
</div>

    
