@using MVC_Vue.Databases
@using MVC_Vue.ViewComponents
@model List<Menu> 

<div id="menu-list" style="width: 100%; background-color: #3f5d50">
    <div>
        <transition name="menu">
            <div class="custom-menu" v-show="drawer">
                <div class="close-icon-container">
                    <v-icon class="far fa-solid fa-xmark close-icon" v-on:click="drawer = false"></v-icon>
                </div>
                <div class="menu-content">
                    @for (int i = 0; i < Model.Count; i++)
                    {
                        var menu = Model[i];
                        <a href="@menu.Url" class="menu-item">
                            @menu.Name
                        </a>
                    }
                </div>
            </div>
        </transition>
        
    </div>
    <v-app-bar 
        color="#3F5D50" class="menu-list" flat
        image="/logo1.jpg">
        <template v-slot:image>
          <v-img
            gradient="to top right, rgba(19,84,122,.8), rgba(128,208,199,.8)"
          ></v-img>
        </template>
        <template v-slot:append>
            <v-icon class="far fa-user pe-12" color=""></v-icon>
            <router-link to="/cart" class="cart-icon-wrapper pe-8">
                <v-icon class="fas fa-cart-shopping" color="">
                </v-icon>
                 <span v-if="cartCount > 0" class="cart-badge">{{ cartCount }}</span>
            </router-link>
            <v-app-bar-nav-icon v-on:click="drawer = !drawer"  class="d-sm-none d-lg-none d-md-none"></v-app-bar-nav-icon>
        </template>
        <div>
            <a href="/" style="text-decoration: none; cursor: pointer;">
            <v-img name="logo" src="\logo1.jpg" class="rounded-circle" :width="50"
                        aspect-ratio="1/1"
                        default></v-img>
            </a>
        </div>
        
        <v-tabs v-model="tab" align-tabs="center" color="yellow" class="d-none d-sm-block d-lg-block d-md-block">
            @for (int i = 0; i < Model.Count; i++)
            {
                var menu = Model[i];
                <v-tab :value="@(@i + 1)" class="text-none" href="@menu.Url" v-on:click="chooseMenuItem()">
                    @menu.Name
                </v-tab>
            }
        </v-tabs>
    </v-app-bar>
</div>

